.checkout {
  display: flex;

  .checkout-map {
    margin-right: .5em;

    &,
    & .map-container {
      width: 30em;
      height: 30em;
    }

    & div {
      border-radius: 1em;
    }

    & div.gmnoprint div,
    & div.gm-style-cc div {
      border-radius: 0;
    }
  }
}

.return {
  width: 100%;
  margin-top: 1em;

  text-align: center;

  .btn {
    width: 100%;
    box-sizing: border-box;
  }
}